/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

bootstrap/cache/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

.git
.idea
.gitignore
.gitattributes
.sass-cache
*.env*

.dockerignore
Dockerfile
docker-compose.yml
.docker/*/**
!.docker/*/supervisor*

README.md
.editorconfig

logs
*.log
laravel-echo-server.lock